.AboutUs {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AboutUs h4 {
  text-align: center;
  padding: 5px;
  width: 90%;
  text-align: center;
  background-color: rgb(124, 218, 236);
  color: white;
  border-radius: 30px;
  box-shadow: 1px 2px 3px 1px grey;
}

.aboutText {
  background-color: rgb(124, 218, 236);
  width: 95vw;
  margin-top: 20px;
  box-shadow: 1px 2px 3px 1px rgb(150, 150, 150);
  border-radius: 50px;
}
.aboutText h4{
  box-shadow: none;
  width: 100%;
}

.AboutUs p {
  color: white;
  margin-top: 15px;
  text-align: center;
  font-weight: 400;
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 25px 25px 25px 25px;
}

hr{
  margin: 5px auto;
  background-color: white;
  height: 1px;
  border: none;
  width: 15rem;
}