.AboutUs {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AboutUs h2 {
  text-align: center;
  padding: 5px;
  width: 80%;
  text-align: center;
  background-color: rgb(124, 218, 236);
  color: white;
  border-radius: 30px;
  box-shadow: 1px 2px 3px 1px grey;
}

.aboutText{
  background-color: rgb(124, 218, 236);
    width: 70vw;
    margin-top: 20px;
    box-shadow: 1px 2px 3px 1px rgb(150, 150, 150);
    border-radius: 50px;

}

.AboutUs p {
    color: white;
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 25px 70px 25px 70px;
}
