.about {
  display: flex;
  user-select: none;
}

.sec1 img {
  margin-left: 1vw;
}

.sec2 {
  text-align: center;
  overflow: scroll;
  scrollbar-width: none;
  padding: 5px;
  height: 26vw;
  margin-left: 10px;
}

h4 {
  text-align: center;
  padding: 5px 1px 0px 2px;
  color: rgb(124, 218, 236);
}

.sec2 p {
  font-weight: 500;
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 0px 0px 2px;
}

@media screen and (max-width: 850px) {
  .about {
    flex-direction: column;
  }

  .sec1 img {
    margin-left: 2vw;
  }

  .sec2 {
    overflow: scroll;
    height: auto;
    padding: 10px;
    margin: 0px;
  }

  h4 {
    padding: 5px 1px 0px 2px;
    color: rgb(124, 218, 236);
  }

  p {
    margin-top: 20px;
    font-size: small;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 5px 0px 0px 2px;
  }
}
