.footer{
    margin-top:5vh;
    padding: 10px;
    text-align: center;
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer div{
    margin-top: 5px;
}

.links{
    display:flex;
    justify-content: center;
}
.links a{
color: black;
 font-size: 30px;
 width: 40px;
 text-decoration: none;
}

