body {
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 2px;
  padding: 5px;
  border: none;
  border-radius: 30px;
  background-color: #333;
  color: #fff;
  box-shadow: 1px 0px 3px 3px rgba(0, 0, 0, 0.485);
}

.logo {
  border: none;
  width: 7rem;
  border-radius: 15px;
  margin-left: 10px;
}

#title {
  display: none;
}

.nav-links {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 5%;
}

.nav-links a {
  font-size: small;
  margin-right: 2rem;
}
.nav-links a:hover {
  scale: 1.2;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* Burger Menu Styles */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px;
}

/* Media Query for Responsive Navigation */

@media screen and (max-width: 680px) {
  body {
    font-family: Arial, sans-serif;
  }

  nav {
    z-index: 2;
    padding: 5px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #333;
    color: #fff;
  }

  .logo {
    width: 4rem;
    margin-left: 4px;
  }

  .nav-links {
    position: relative;
    display: flex;
    left: 10px;
  }

  .nav-links a {
    font-size: x-small;
    margin-right: 1rem;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
  }

  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .line1,
  .line2,
  .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
  }
}

@media screen and (max-width: 444px) {
  #title {
    padding: 0px;
    margin-left: -10px;
    display: block;
    color: rgb(136, 225, 225);
  }
  nav {
    padding: 5px;
    justify-content: space-between;
  }
  .nav-links {
    display: none;
    z-index: 2;
  }
  .logo {
    margin-left: -2px;
  }

  .burger {
    display: flex;
  }

  nav.active .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 1px 0px 3px 3px rgba(0, 0, 0, 0.485);
  }
  nav.active .nav-links a {
    margin: 5px;
    padding: 3px;
    margin-right: 0px;
  }

  nav.active .burger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  nav.active .burger .line2 {
    opacity: 0;
  }

  nav.active .burger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
