.partner{
  /* background-color: rgb(238, 222, 222); */
  user-select: none;

}
.partner .images {
    user-select: none;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
}

.partner {
  margin-top: 5px;
}

.partner .images {
  margin-top: 30px;
}
.images img {
  width: 15%;
}
