.partner {
  /* background-color: rgb(238, 222, 222); */
  margin-top: 15px;
  user-select: none;
}

.partner h2 {
  text-align: center;
  color: white;
  background-color: rgb(124, 218, 236);
  box-shadow: 1px 2px 2px grey;;
  margin: 5px;
  border-radius: 30px;
}

.partner .images {
  user-select: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}

.partner .images a {
  width: 15%;
  display: block; 
}

.partner .images a img {
  width: 100%;
}

.partner .images a:hover img {
  transform: scale(1.01);
}

.links a:hover {
  transform: scale(1.1);
}
