.Team .coordinator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Team .coremembers {
  display: flex;
  justify-content: space-evenly;
}

.Team .clubmembers {
  display: flex;
  justify-content: space-evenly;
}

.Team h4 {
  margin: 20px;
  text-align: center;
}

.card {
  max-width: 250px;
  box-shadow: 0 4px 8px #0000001a;
  background-color: #fff;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-name {
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eee;
}

@media screen and (max-width: 1300px) {
  .Team .coordinator .card {
    width: 200px;
  }
  .Team .coremembers .card {
    width: 20vw;
    margin: 2px;
  }
  .Team .clubmembers .card {
    width: 20vw;
    margin: 2px;
  }
}
